nav>ul>li {
    margin-right: 10px;
    text-decoration: none;
    display: inline;
}

nav li>a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 10px;
}

label {
    margin-bottom: 15px;
    display: block;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 10px 20px;
    border: 2px solid black;

}